---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About</title>
	</head>
	<body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/location/">Location</a>
    <a href="/menu/">Menu</a>

		<h1>About</h1>
    <h2>Meet the Dainer</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio dolore minus dolor quibusdam quae qui! Quia aperiam tempora, ipsa porro, ab possimus delectus consequatur ex et ad blanditiis, officiis praesentium.
    Praesentium recusandae, pariatur iste esse suscipit consequatur sunt laborum, id at optio quaerat rem quasi eius molestiae.
    Iure accusantium non, nesciunt eligendi minus eos porro sed architecto velit! Saepe facilis eveniet dolor, optio, sunt inventore placeat consequuntur fuga incidunt sed quaerat ea quod officia ad exercitationem sit!</p>
	</body>
</html>